
RewriteEngine on

# rewrite album folder names to album.php serving code
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !^$
RewriteCond %{REQUEST_URI} !^/$
RewriteRule ^(.*)/(.*)$ /index.php?a=$1&i=$2

