html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #333;
	color: #ccc;
}
A:link, A:visited, A:active {
	color: #ccc;
	text-decoration: none;
}
A:hover {
	color: #fff;
	text-decoration: underline;
}
img.arrow {
	border-width: 0px;
	vertical-align: text-top;
}
img {
	border: solid 2px #ccc;
}
img:hover {
	border: solid 8px #fff;
}
.selected {
	border: solid 8px #fff;
}
.thm {
	border-style: dotted;
}
.thm_selected {
	border-style: dotted;
	border-width: 8px;
}
.owner {
	font-size: 66%;
}
#title {
	text-align: center;
}
#content {
	text-align: center;
}
