
[Unit]
Description=Album helper - process video files on demand
After=network.target

[Service]
WorkingDirectory=/var/www/htdocs
ExecStart=/usr/bin/php album-watch.php
User=httpd
Group=httpd
Restart=always
RestartSec=1
Nice=19
OOMScoreAdjust=500

[Install]
WantedBy=multi-user.target
