<?

# edit this file to include the usernames of users that are allowed to
# have their albums appear in the index.

$users = array (
	"adam",
	"bonnie"
);

# image size control:
$max_size = 800;

# where to store our thumbnail cache
$cache_base = "/var/cache/httpd";

?>
